# DATABASE
DNS_DB="host=localhost user=postgres password=postgres dbname=seniorproject port=5432 sslmode=disable TimeZone=Asia/Bangkok"
# RABBITMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# MODEL
MODEL_NAME=LSTM

# Lib PATH
LIB_PATH=./onnxruntime/lib/libonnxruntime.so

# QUEUE
QUEUE_NAME=LstmPrediction_request
DONE_QUEUE_NAME=LstmPrediction_response

# WORKER
WORKER_COUNT=2
